{% block  header %}
<div id="sticky-menu" class="clearfix">
         {% block sticky_menu %}
                    {% include("UIBundle:Menu:sticky_menu.html.twig") %}
         {% endblock %}
</div>

{# top bar #}
{% block topbar %}
{% endblock  %}

<div id="header">
    <div class="container clearfix">
        <div id="logo">
            <a href="index-2.html" class="standard-logo"><img src="images/logo.png" alt="CoWorker" title="CoWorker" /></a>
            <a href="index-2.html" class="retina-logo"><img src="images/logo%402x.png" alt="CoWorker" title="CoWorker" width="204" height="120" /></a>
        </div>
        <div id="primary-menu">
                {% block menu %}
                    {% include("UIBundle:Menu:index.html.twig") %}
                {% endblock %}
        </div>
    </div>
</div>
{% endblock %}