{% extends "::base.html.twig" %}

{% block title %}kblogfrontendHomeBundle:Sidebar:randomBlogPhotos{% endblock %}

{% block body %}
<h1>Welcome to the Sidebar:randomBlogPhotos page</h1>
{% endblock %}
